.orangeMargin  {
    background-color: orange;
    position: fixed;
    right: 0%;
    top: 0%;
    width: 20%;
    height: 100%;
}
.centerTitreAccueil {

position: fixed;
    top: 13%;
    left: 35%;
}
.AccueilTrierPar {

    position: fixed;
    left: 55%;
}

.AccueilFiltre {

    position: fixed;

    right: 9%;

}

.AccueilTri{

   position: fixed;

    left: 65%;
    top: 30%;
}

.AccueilBouton{

    position: fixed;

    left: 65%;

}