.orangeMargin  {
    background-color: orange;
    position: fixed;
    right: 0%;
    top: 0%;
    width: 20%;
    height: 100%;
}
.centerTitreAccueil {

position: fixed;
    top: 13%;
    left: 35%;
}
.AccueilTrierPar {

    position: fixed;
    left: 55%;
}

.AccueilFiltre {

    position: fixed;

    right: 9%;

}

.AccueilTri{

   position: fixed;

    left: 65%;
    top: 30%;
}

.AccueilBouton{

    position: fixed;

    left: 65%;

}

.grilleAccueil{

    position: absolute;
    top: 400px;
    left: 20px;
    display: grid;
    grid-gap: 50px 100px;
    grid-auto-flow: column;
}

.imageAccueil{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}